.columnLeft {
  flex: 50%;
  border-color: lightgray;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

.row {
  display: flex;
  border-color: lightgray;
  align-items: center;
}

.columnRight {
  flex: 50%;
  border: solid;
  border-color: lightgray;
  text-align: right;
  padding: 10px;
  margin: 10px;
}

#cart {
  background-color: #5139F2;
  border: none;
}

#checkout {
  background-color: #119DA4;
  border: none;
  width: 100%;
  margin: 5px;
}

.parent {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.2fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}
  
.div1 {
  grid-area: 1 / 1 / 2 / 2;
  margin: 0 10px;
}
.div2 { 
  grid-area: 1 / 2 / 2 / 3; 
  text-align: right;
  margin: 0 10px;
}
.div3 { 
  grid-area: 2 / 1 / 3 / 3; 
  margin: 0 5px;
}

.details{
  font-weight: bold;
  font-size: 0.85em;
  margin:0;
}
