#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin{
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}


